body {
  background-color: rgb(0, 0, 0);
}

header {
  background-color: rgb(0, 0, 0);
  padding: 4px 20px;
}
header .containerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .containerdiv .logodiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
header .containerdiv .logodiv .logo {
  height: 80px;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
header .containerdiv .logodiv .logo:hover {
  opacity: 0.7;
}
@media (max-width: 1189px) {
  header .containerdiv .logodiv .logo {
    height: 50px;
  }
}
@media (max-width: 647px) {
  header .containerdiv .logodiv .logo {
    height: 30px;
  }
}
header .containerdiv .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1189px) {
  header .containerdiv .buttons {
    width: 550px;
  }
}
@media (max-width: 800px) {
  header .containerdiv .buttons {
    display: none;
  }
}
header .containerdiv .buttons .redirect .mainbuttons {
  cursor: pointer;
  background-color: rgba(43, 43, 43, 0.918);
  height: 60px;
  width: 140px;
  -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.19s;
  -o-transition: 0.19s;
  transition: 0.19s;
}
@media (max-width: 1189px) {
  header .containerdiv .buttons .redirect .mainbuttons {
    height: 50px;
    width: 100px;
  }
}
header .containerdiv .buttons .redirect .mainbuttons:hover {
  background-color: rgb(27, 27, 27);
  height: 83px;
  width: 143px;
}
header .containerdiv .buttons .redirect .mainbuttons:active {
  background-color: rgba(31, 31, 31, 0.918);
}
header .containerdiv .buttons .redirect .mainbuttons .inside {
  color: rgb(82, 82, 82);
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
  font-size: 17px;
  font-weight: bold;
}
header .containerdiv .icons {
  display: none;
}
header .containerdiv .icons .icon {
  display: none;
}
@media (max-width: 800px) {
  header .containerdiv .icons .icon {
    display: inline-block;
    font-size: 60px;
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
    cursor: pointer;
  }
  header .containerdiv .icons .icon:hover {
    opacity: 0.6;
  }
}
@media (max-width: 647px) {
  header .containerdiv .icons .icon {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  header .containerdiv .icons {
    display: inline-block;
  }
}

.section1 {
  height: 700px;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 1337px) {
  .section1 {
    height: 600px;
  }
}
.section1 .secdiv {
  height: 540px;
  position: relative;
}
.section1 .secdiv .videoo {
  width: 100%;
  position: absolute;
}
.section1 .secdiv .plus {
  position: absolute;
  top: 1px;
  height: 100%;
  width: 500px;
}
@media (max-width: 500px) {
  .section1 .secdiv .plus {
    width: 100%;
  }
}
@media (max-width: 567px) {
  .section1 .secdiv .plus {
    width: 100%;
  }
}
.section1 .secdiv .plus .box {
  position: relative;
  height: 100%;
}
@media (max-width: 567px) {
  .section1 .secdiv .plus .box {
    height: 260px;
  }
}
.section1 .secdiv .plus .box .videotext {
  position: absolute;
  top: 40%;
  left: 7%;
  font-size: 50px;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
@media (max-width: 1271px) {
  .section1 .secdiv .plus .box .videotext {
    font-size: 40px;
    top: 30%;
  }
}
@media (max-width: 933px) {
  .section1 .secdiv .plus .box .videotext {
    font-size: 30px;
    top: 21%;
  }
}
@media (max-width: 639px) {
  .section1 .secdiv .plus .box .videotext {
    font-size: 24px;
    top: 10%;
  }
}
@media (max-width: 567px) {
  .section1 .secdiv .plus .box .videotext {
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 384px) {
  .section1 .secdiv .plus .box .videotext {
    font-size: 17px;
  }
}
.section1 .secdiv .plus .box .text2 {
  position: absolute;
  top: 52%;
  left: 7%;
  font-size: 24px;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
@media (max-width: 1271px) {
  .section1 .secdiv .plus .box .text2 {
    font-size: 26px;
    top: 40%;
  }
}
@media (max-width: 933px) {
  .section1 .secdiv .plus .box .text2 {
    font-size: 20px;
    top: 30%;
  }
}
@media (max-width: 639px) {
  .section1 .secdiv .plus .box .text2 {
    font-size: 18px;
    top: 20%;
  }
}
@media (max-width: 567px) {
  .section1 .secdiv .plus .box .text2 {
    display: none;
  }
}
.section1 .secdiv .plus .box .text3 {
  position: absolute;
  top: 90%;
  left: 10%;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.section1 .secdiv .plus .box .text3:hover {
  opacity: 0.6;
}
@media (max-width: 1271px) {
  .section1 .secdiv .plus .box .text3 {
    font-size: 26px;
    top: 60%;
  }
}
@media (max-width: 933px) {
  .section1 .secdiv .plus .box .text3 {
    font-size: 18px;
    top: 40%;
  }
}
@media (max-width: 639px) {
  .section1 .secdiv .plus .box .text3 {
    font-size: 14px;
    top: 30%;
  }
}
@media (max-width: 567px) {
  .section1 .secdiv .plus .box .text3 {
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 567px) {
  .section1 .secdiv .plus .box .text3 {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 322px) {
  .section1 .secdiv .plus .box .text3 {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.s-2 {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 1893px) {
  .s-2 {
    margin-top: 100px;
  }
}
@media (max-width: 1735px) {
  .s-2 {
    margin-top: 70px;
  }
}
@media (max-width: 1366px) {
  .s-2 {
    margin-top: 20px;
  }
}
.s-2 .div1 {
  padding: 10px;
  background-color: rgb(165, 165, 165);
  height: 350px;
  width: 620px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 900;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}
.s-2 .div1 .p1 {
  color: var(--primary-text, #1D2130);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
}
.s-2 .div1 .game {
  font-size: 60px;
  color: rgb(0, 0, 0);
  font-family: "Pangolin", cursive;
}
.s-2 .div1 .lorem {
  color: var(--secondary-text, #525560);
  color: var(--secondary-text, #525560);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-family: "Kanit", sans-serif;
}
.s-2 .div1 .learn {
  height: 50px;
  width: 120px;
  background-color: #70C174;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}
.s-2 .div2 {
  border-top-left-radius: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 20px;
  padding: 10px;
  background-color: rgb(164, 163, 163);
  position: relative;
}
.s-2 .div2:hover .name {
  opacity: 1;
  top: 10%;
}
.s-2 .div2 .name {
  font-size: 100px;
  position: absolute;
  font-family: "Pangolin", cursive;
  color: rgb(255, 179, 1);
  top: 8%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.s-2 .div2 .imgdiv {
  height: 600px;
  width: 500px;
}
.s-2 .div2 .imgdiv .skorpion {
  height: 578px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0.2%;
  top: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.s-2 .div2 .imgdiv .skorpion:hover {
  -webkit-animation-name: toptobottom;
          animation-name: toptobottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.s-2 .div2 .imgdiv .skorpion:not(:hover).skorpion {
  -webkit-animation: bottomtotop 0.9s ease forwards;
          animation: bottomtotop 0.9s ease forwards;
}
@-webkit-keyframes toptobottom {
  0% {
    top: 0%;
  }
  100% {
    top: 13%;
  }
}
@keyframes toptobottom {
  0% {
    top: 0%;
  }
  100% {
    top: 13%;
  }
}
@-webkit-keyframes bottomtotop {
  0% {
    top: 13%;
  }
  100% {
    top: 0%;
  }
}
@keyframes bottomtotop {
  0% {
    top: 13%;
  }
  100% {
    top: 0%;
  }
}/*# sourceMappingURL=global.css.map */