header {
  z-index: 10000;
  background-color: rgb(0, 0, 0);
  padding: 4px 20px;
}
header .containerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .containerdiv .logodiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
header .containerdiv .logodiv .logo {
  height: 80px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
header .containerdiv .logodiv .logo:hover {
  opacity: 0.7;
}
@media (max-width: 1189px) {
  header .containerdiv .logodiv .logo {
    height: 50px;
  }
}
@media (max-width: 647px) {
  header .containerdiv .logodiv .logo {
    height: 30px;
  }
}
header .containerdiv .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1189px) {
  header .containerdiv .buttons {
    width: 550px;
  }
}
@media (max-width: 800px) {
  header .containerdiv .buttons {
    display: none;
  }
}
header .containerdiv .buttons .redirect .mainbuttons {
  cursor: pointer;
  background-color: rgba(43, 43, 43, 0.918);
  height: 60px;
  width: 140px;
  -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.19s;
  transition: 0.19s;
}
@media (max-width: 1189px) {
  header .containerdiv .buttons .redirect .mainbuttons {
    height: 50px;
    width: 100px;
  }
}
header .containerdiv .buttons .redirect .mainbuttons:hover {
  background-color: rgb(27, 27, 27);
  height: 83px;
  width: 143px;
}
header .containerdiv .buttons .redirect .mainbuttons:active {
  background-color: rgba(31, 31, 31, 0.918);
}
header .containerdiv .buttons .redirect .mainbuttons .inside {
  color: rgb(82, 82, 82);
  -webkit-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
          transform: skewX(20deg);
  font-size: 17px;
  font-weight: bold;
}
header .containerdiv .icons {
  display: none;
}
header .containerdiv .icons .icon {
  display: none;
}
@media (max-width: 800px) {
  header .containerdiv .icons .icon {
    display: inline-block;
    font-size: 60px;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    color: gray;
    cursor: pointer;
  }
  header .containerdiv .icons .icon:hover {
    opacity: 0.6;
  }
}
@media (max-width: 647px) {
  header .containerdiv .icons .icon {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  header .containerdiv .icons {
    display: inline-block;
  }
}

.main {
  background-image: url("../img/mid-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .section1 {
  border-top: rgb(107, 72, 3) solid 5px;
  height: 700px;
}
@media (max-width: 1337px) {
  .main .section1 {
    height: 600px;
  }
}
@media (max-width: 900px) {
  .main .section1 {
    height: 400px;
  }
}
@media (max-width: 1150px) {
  .main .section1 {
    height: 500px;
  }
}
@media (max-width: 1000px) {
  .main .section1 {
    height: 450px;
  }
}
@media (max-width: 886px) {
  .main .section1 {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .main .section1 {
    height: 370px;
  }
}
@media (max-width: 721px) {
  .main .section1 {
    height: 340px;
  }
}
@media (max-width: 600px) {
  .main .section1 {
    height: 300px;
  }
}
@media (max-width: 540px) {
  .main .section1 {
    height: 220px;
  }
}
@media (max-width: 465px) {
  .main .section1 {
    height: 200px;
  }
}
@media (max-width: 384px) {
  .main .section1 {
    height: 170px;
  }
}
@media (max-width: 290px) {
  .main .section1 {
    height: 120px;
  }
}
.main .section1 .secdiv {
  height: 540px;
  position: relative;
}
.main .section1 .secdiv .videoo {
  width: 100%;
  position: absolute;
  border-bottom: rgb(107, 72, 3) solid 6px;
}
.main .section1 .secdiv .plus {
  position: absolute;
  top: 1px;
  height: 100%;
  width: 500px;
}
@media (max-width: 500px) {
  .main .section1 .secdiv .plus {
    width: 100%;
  }
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus {
    width: 100%;
  }
}
.main .section1 .secdiv .plus .box {
  position: relative;
  height: 100%;
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus .box {
    height: 260px;
  }
}
.main .section1 .secdiv .plus .box .videotext {
  position: absolute;
  top: 40%;
  left: 7%;
  font-size: 50px;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
@media (max-width: 1271px) {
  .main .section1 .secdiv .plus .box .videotext {
    font-size: 40px;
    top: 30%;
  }
}
@media (max-width: 933px) {
  .main .section1 .secdiv .plus .box .videotext {
    font-size: 30px;
    top: 21%;
  }
}
@media (max-width: 639px) {
  .main .section1 .secdiv .plus .box .videotext {
    font-size: 24px;
    top: 10%;
  }
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus .box .videotext {
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 384px) {
  .main .section1 .secdiv .plus .box .videotext {
    font-size: 17px;
  }
}
.main .section1 .secdiv .plus .box .text2 {
  position: absolute;
  top: 52%;
  left: 7%;
  font-size: 24px;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
@media (max-width: 1271px) {
  .main .section1 .secdiv .plus .box .text2 {
    font-size: 26px;
    top: 40%;
  }
}
@media (max-width: 933px) {
  .main .section1 .secdiv .plus .box .text2 {
    font-size: 20px;
    top: 30%;
  }
}
@media (max-width: 639px) {
  .main .section1 .secdiv .plus .box .text2 {
    font-size: 18px;
    top: 20%;
  }
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus .box .text2 {
    display: none;
  }
}
.main .section1 .secdiv .plus .box .text3 {
  position: absolute;
  top: 90%;
  left: 10%;
  color: rgb(207, 172, 12);
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main .section1 .secdiv .plus .box .text3:hover {
  opacity: 0.6;
}
@media (max-width: 1271px) {
  .main .section1 .secdiv .plus .box .text3 {
    font-size: 26px;
    top: 60%;
  }
}
@media (max-width: 933px) {
  .main .section1 .secdiv .plus .box .text3 {
    font-size: 18px;
    top: 40%;
  }
}
@media (max-width: 639px) {
  .main .section1 .secdiv .plus .box .text3 {
    font-size: 14px;
    top: 30%;
  }
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus .box .text3 {
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 567px) {
  .main .section1 .secdiv .plus .box .text3 {
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 322px) {
  .main .section1 .secdiv .plus .box .text3 {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.main .s-2 {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1893px) {
  .main .s-2 {
    margin-top: 100px;
  }
}
@media (max-width: 1735px) {
  .main .s-2 {
    margin-top: 70px;
  }
}
@media (max-width: 1366px) {
  .main .s-2 {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .main .s-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 340px;
  }
}
.main .s-2 .div1 {
  padding: 10px;
  background-color: rgb(49, 47, 45);
  border: rgb(107, 72, 3) solid 5px;
  height: 450px;
  width: 620px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 900;
}
@media (max-width: 1250px) {
  .main .s-2 .div1 {
    height: 400px;
    max-width: 700px;
    width: 40%;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div1 {
    height: 150px;
  }
}
@media (max-width: 320px) {
  .main .s-2 .div1 {
    width: 60%;
  }
}
.main .s-2 .div1 .p1 {
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
}
@media (max-width: 1250px) {
  .main .s-2 .div1 .p1 {
    font-size: 19px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div1 .p1 {
    font-size: 10px;
  }
}
.main .s-2 .div1 .game {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-family: "Pangolin", cursive;
}
@media (max-width: 1250px) {
  .main .s-2 .div1 .game {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div1 .game {
    font-size: 17px;
  }
}
@media (max-width: 434px) {
  .main .s-2 .div1 .game {
    font-size: 13px;
  }
}
@media (max-width: 300px) {
  .main .s-2 .div1 .game {
    font-size: 10px;
  }
}
.main .s-2 .div1 .lorem {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-family: "Kanit", sans-serif;
}
@media (max-width: 600px) {
  .main .s-2 .div1 .lorem {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div1 .lorem {
    font-size: 10px;
  }
}
@media (max-width: 434px) {
  .main .s-2 .div1 .lorem {
    font-size: 8px;
  }
}
@media (max-width: 300px) {
  .main .s-2 .div1 .lorem {
    font-size: 7px;
  }
}
.main .s-2 .div1 .learn {
  height: 50px;
  width: 120px;
  background-color: #70C174;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}
@media (max-width: 600px) {
  .main .s-2 .div1 .learn {
    height: 35px;
    width: 88px;
    font-size: 14px;
  }
}
@media (max-width: 434px) {
  .main .s-2 .div1 .learn {
    height: 20px;
    width: 60px;
    font-size: 7px;
  }
}
.main .s-2 .div2 {
  border: rgb(107, 72, 3) solid 6px;
  border-top-left-radius: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 20px;
  padding: 10px;
  background-color: rgb(37, 36, 36);
  position: relative;
}
@media (max-width: 1250px) {
  .main .s-2 .div2 {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div2 {
    height: 150px;
    width: 150px;
  }
}
.main .s-2 .div2:hover .name {
  opacity: 1;
  top: 10%;
}
.main .s-2 .div2 .name {
  font-size: 100px;
  position: absolute;
  font-family: "Pangolin", cursive;
  color: rgb(255, 179, 1);
  top: 8%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 928px) {
  .main .s-2 .div2 .name {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .main .s-2 .div2 .name {
    font-size: 60px;
  }
}
@media (max-width: 475px) {
  .main .s-2 .div2 .name {
    font-size: 30px;
  }
}
.main .s-2 .div2 .imgdiv {
  height: 600px;
  width: 500px;
}
@media (max-width: 1250px) {
  .main .s-2 .div2 .imgdiv {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div2 .imgdiv {
    height: 150px;
    width: 150px;
  }
}
.main .s-2 .div2 .imgdiv .skorpion {
  height: 540px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0.2%;
  top: 5%;
}
.main .s-2 .div2 .imgdiv .skorpion:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media (max-width: 1250px) {
  .main .s-2 .div2 .imgdiv .skorpion {
    height: 330px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .main .s-2 .div2 .imgdiv .skorpion {
    height: 120px;
    width: 130px;
  }
}
.main .section3 {
  border-top: rgb(107, 72, 3) solid 5px;
  border-bottom: rgb(107, 72, 3) solid 5px;
  width: 100%;
  height: 210px;
  background-color: rgb(59, 59, 59);
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background: linear-gradient(50deg, blue, red);
}
@media (max-width: 900px) {
  .main .section3 {
    height: 150px;
  }
}
@media (max-width: 485px) {
  .main .section3 {
    height: 150px;
  }
}
@media (max-width: 700px) {
  .main .section3 {
    height: 120px;
  }
}
@media (max-width: 450px) {
  .main .section3 {
    height: 100px;
  }
}
.main .section3 .develop {
  font-size: 28px;
  font-family: "Pangolin", cursive;
  color: yellow;
  font-weight: bold;
}
@media (max-width: 900px) {
  .main .section3 .develop {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .main .section3 .develop {
    font-size: 23px;
  }
}
@media (max-width: 450px) {
  .main .section3 .develop {
    font-size: 20px;
  }
}
@media (max-width: 385px) {
  .main .section3 .develop {
    font-size: 15px;
  }
}
.main .section3 .nether {
  width: 150px;
}
@media (max-width: 485px) {
  .main .section3 .nether {
    width: 100px;
  }
}
@media (max-width: 900px) {
  .main .section3 .nether {
    width: 80px;
  }
}
@media (max-width: 700px) {
  .main .section3 .nether {
    width: 70px;
  }
}
@media (max-width: 450px) {
  .main .section3 .nether {
    width: 50px;
  }
}

@font-face {
  font-family: "mklatino";
  src: url("../FONTS/MkLatinoPlain.ttf") format("truetype");
}
.main2 {
  background-image: url("../img/main2.png");
}
.main2 .section4 {
  height: 900px;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  .main2 .section4 {
    height: 800px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 {
    height: 600px;
  }
}
@media (max-width: 600px) {
  .main2 .section4 {
    height: 460px;
  }
}
@media (max-width: 360px) {
  .main2 .section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.main2 .section4 .half {
  margin-right: 10px;
  height: 780x;
  width: 600px;
  border: rgb(107, 72, 3) solid 6px;
  padding: 30px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.46);
}
@media (max-width: 1100px) {
  .main2 .section4 .half {
    height: 600px;
    width: 480px;
    overflow-y: auto;
  }
}
@media (max-width: 960px) {
  .main2 .section4 .half {
    height: 500px;
    width: 400px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 .half {
    height: 350px;
    width: 300px;
  }
}
@media (max-width: 600px) {
  .main2 .section4 .half {
    height: 200px;
    width: 200px;
  }
}
.main2 .section4 .half .tag {
  color: white;
  Font-size: 50px;
  font-family: "mklatino";
}
@media (max-width: 1100px) {
  .main2 .section4 .half .tag {
    font-size: 40px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 .half .tag {
    font-size: 25px;
  }
}
.main2 .section4 .half .tag .mk {
  font-size: 50px;
  color: rgb(255, 187, 0);
}
@media (max-width: 780px) {
  .main2 .section4 .half .tag .mk {
    font-size: 27px;
  }
}
.main2 .section4 .half .myhr {
  border: rgb(107, 72, 3) solid 3px;
  border-radius: 50%;
  -webkit-box-shadow: black 5px 5px 5px 2px;
          box-shadow: black 5px 5px 5px 2px;
}
.main2 .section4 .half .Stories {
  font-family: "mklatino";
  font-size: 30px;
  color: rgb(255, 179, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .main2 .section4 .half .Stories {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 .half .Stories {
    font-size: 15px;
  }
}
.main2 .section4 .half .myp {
  color: rgb(210, 196, 4);
  font-size: 20px;
  font-family: "mklatino";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .main2 .section4 .half .myp {
    font-size: 15px;
    line-height: 15.2px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 .half .myp {
    font-size: 10px;
    line-height: 10px;
  }
}
.main2 .section4 .half2 {
  height: 500px;
  width: 440px;
  border: rgb(107, 72, 3) solid 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(37, 36, 36);
  border-top-left-radius: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 20px;
}
@media (max-width: 960px) {
  .main2 .section4 .half2 {
    height: 500px;
    width: 400px;
  }
}
@media (max-width: 844px) {
  .main2 .section4 .half2 {
    height: 430px;
    width: 350px;
  }
}
@media (max-width: 780px) {
  .main2 .section4 .half2 {
    height: 350px;
    width: 280px;
  }
}
@media (max-width: 600px) {
  .main2 .section4 .half2 {
    height: 200px;
    width: 200px;
  }
}
.main2 .section4 .half2:hover .sbdiv {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.main2 .section4 .half2 .saibot {
  height: 350px;
  width: 300px;
  position: absolute;
  z-index: 100;
  top: 5%;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 960px) {
  .main2 .section4 .half2 .saibot {
    height: 300px;
    width: 250px;
    top: 15%;
  }
}
@media (max-width: 844px) {
  .main2 .section4 .half2 .saibot {
    height: 250px;
    width: 200px;
  }
}
@media (max-width: 600px) {
  .main2 .section4 .half2 .saibot {
    height: 140px;
    width: 120px;
  }
}
.main2 .section4 .half2 .saibot:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.main2 .section4 .half2 .sbdiv {
  position: absolute;
  height: 400px;
  width: 350px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
@media (max-width: 960px) {
  .main2 .section4 .half2 .sbdiv {
    height: 300px;
    width: 250px;
    top: 15%;
  }
}
@media (max-width: 844px) {
  .main2 .section4 .half2 .sbdiv {
    height: 250px;
    width: 200px;
  }
}
@media (max-width: 600px) {
  .main2 .section4 .half2 .sbdiv {
    height: 140px;
    width: 120px;
  }
}
.main2 .section4 .half2 .sbdiv .sbtxt {
  color: rgb(35, 8, 99);
  font-size: 140px;
  font-family: "Pangolin", cursive;
}
@media (max-width: 960px) {
  .main2 .section4 .half2 .sbdiv .sbtxt {
    font-size: 100px;
    margin-left: 0px;
  }
}
@media (max-width: 844px) {
  .main2 .section4 .half2 .sbdiv .sbtxt {
    margin: 0;
    position: absolute;
    bottom: 80%;
    font-size: 80px;
  }
}
@media (max-width: 610px) {
  .main2 .section4 .half2 .sbdiv .sbtxt {
    position: absolute;
    font-size: 50px;
    left: 50%;
    bottom: 90%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "mklatino";
  src: url("../FONTS/MkLatinoPlain.ttf") format("truetype");
}
.section5 {
  background-image: url("../img/main2.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.374);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
  height: 700px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1399px) {
  .section5 {
    height: 100%;
  }
}
.section5 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0;
  width: 100%;
  padding: 0;
}
.section5 .container .new {
  border-radius: 50px;
  height: 100px;
  width: 100%;
  border-top: 3px solid #c1a768;
  border-bottom: 5px solid #c1a768;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #7a3d01), color-stop(48%, #d89704), color-stop(52%, #d89704), color-stop(90%, #7a3d01));
  background: linear-gradient(90deg, #7a3d01 10%, #d89704 48%, #d89704 52%, #7a3d01 90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section5 .container .new .to {
  font-size: 50px;
  font-family: "mklatino";
  color: white;
}
@media (max-width: 828px) {
  .section5 .container .new .to {
    font-size: 30px;
  }
}
@media (max-width: 417px) {
  .section5 .container .new .to {
    font-size: 20px;
  }
}
.section5 .packscont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section5 .packscont .pack1 {
  margin-top: 40px;
  height: 500px;
  width: 280px;
  border: black solid;
  background-color: rgba(119, 0, 255, 0.072);
  border-radius: 10px;
}
.section5 .packscont .pack1:not(:hover).pack1 .packimg {
  -webkit-animation: packimgreverse 0.4s ease forwards;
          animation: packimgreverse 0.4s ease forwards;
}
.section5 .packscont .packdiv {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section5 .packscont .packdiv:active {
  cursor: -webkit-grab;
  cursor: grab;
}
.section5 .packscont .packdiv:hover .packimg {
  -webkit-animation-name: packimg;
          animation-name: packimg;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.section5 .packscont .packdiv .same {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 46%;
  font-size: 25px;
  font-family: "mklatino";
}
@media (max-width: 322px) {
  .section5 .packscont .packdiv .same {
    font-size: 20px;
  }
}
.section5 .packscont .packdiv .same2 {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 55%;
  font-size: 25px;
  font-family: "mklatino";
}
.section5 .packscont .packdiv .includes {
  position: absolute;
  font-size: 25px;
  color: white;
  top: 63%;
  font-family: "mklatino";
}
.section5 .packscont .packdiv .oneul {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section5 .packscont .packdiv .oneul .oneli {
  color: white;
  font-family: "mklatino";
  font-size: 20px;
}
.section5 .packscont .packdiv .packimg {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  position: absolute;
  height: 240px;
  width: 200px;
  bottom: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.section5 .pack2 {
  margin-top: 40px;
  height: 500px;
  width: 300px;
  border: rgba(255, 166, 0, 0.259) solid;
  background-color: rgba(255, 136, 0, 0.261);
  border-radius: 10px;
}
.section5 .pack2:not(:hover).pack2 .packimg {
  -webkit-animation: packimgreverse 0.4s ease forwards;
          animation: packimgreverse 0.4s ease forwards;
}
.section5 .pack2 .packdiv {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.section5 .pack2 .packdiv:active {
  cursor: -webkit-grab;
  cursor: grab;
}
.section5 .pack2 .packdiv:hover .packimg {
  -webkit-animation-name: packimg;
          animation-name: packimg;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.section5 .pack2 .packdiv .packimg {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  position: absolute;
  height: 240px;
  width: 200px;
  bottom: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.section5 .pack3 {
  margin-top: 40px;
  height: 500px;
  width: 300px;
  border: black solid;
  background-color: rgba(21, 255, 0, 0.259);
  border-radius: 10px;
}
.section5 .pack3:not(:hover).pack3 .packimg {
  -webkit-animation: packimgreverse 0.4s ease forwards;
          animation: packimgreverse 0.4s ease forwards;
}
.section5 .pack3 .packdiv {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.section5 .pack3 .packdiv:active {
  cursor: -webkit-grab;
  cursor: grab;
}
.section5 .pack3 .packdiv:hover .packimg {
  -webkit-animation-name: packimg;
          animation-name: packimg;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.section5 .pack3 .packdiv .packimg {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  position: absolute;
  height: 240px;
  width: 200px;
  bottom: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.section5 .pack4 {
  margin-top: 40px;
  height: 500px;
  width: 280px;
  border: black solid;
  background-color: rgba(255, 0, 0, 0.141);
  border-radius: 10px;
  border: none;
}
.section5 .pack4:not(:hover).pack4 .packimg {
  -webkit-animation: packimgreverse 0.4s ease forwards;
          animation: packimgreverse 0.4s ease forwards;
}
.section5 .pack4 .packdiv {
  height: 100%;
  width: 280px;
  position: relative;
  cursor: pointer;
}
.section5 .pack4 .packdiv:active {
  cursor: -webkit-grab;
  cursor: grab;
}
.section5 .pack4 .packdiv:hover .packimg {
  -webkit-animation-name: packimg;
          animation-name: packimg;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.section5 .pack4 .packdiv .packimg {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  position: absolute;
  height: 240px;
  width: 200px;
  bottom: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
@-webkit-keyframes packimg {
  0% {
    bottom: 56%;
  }
  100% {
    bottom: 60%;
    -webkit-box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
            box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
  }
}
@keyframes packimg {
  0% {
    bottom: 56%;
  }
  100% {
    bottom: 60%;
    -webkit-box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
            box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
  }
}
@-webkit-keyframes packimgreverse {
  0% {
    bottom: 60%;
    -webkit-box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
            box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
  }
  100% {
    bottom: 56%;
  }
}
@keyframes packimgreverse {
  0% {
    bottom: 60%;
    -webkit-box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
            box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;
  }
  100% {
    bottom: 56%;
  }
}/*# sourceMappingURL=global.css.map */