@font-face {
    font-family: 'mklatino'; 
    src: url('../FONTS/MkLatinoPlain.ttf') format('truetype');
  }

.main2{
    background-image: url('../img/main2.png');
  .section4{
    
    height:900px;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .half{
        height:780x;
        width:600px;
        border: rgb(107, 72, 3) solid 6px;
        padding: 30px;
        border-top-left-radius: 70px ;
        border-bottom-right-radius: 70px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: rgba(0, 0, 0, 0.46);
       

        .tag{
            color: white;
            Font-size: 50px;
            font-family: 'mklatino'; 
            .mk{
                color:rgb(255, 187, 0);
                
                
                

            }
        }
        .myhr{
            border: rgb(107, 72, 3) solid 3px;
            border-radius: 50%;
            box-shadow: black 5px 5px 5px 2px;
            
        }
        .Stories{
            font-family: 'mklatino'; 
            font-size: 30px;
            color: rgb(255, 179, 0);
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .myp{
            color: rgb(210, 196, 4);
            font-size:20px;
            font-family: 'mklatino'; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }











    .half2{
        height: 500px;
        width: 440px;
        border: rgb(107, 72, 3) solid 6px;
        position: relative;
        display: flex;
       
        justify-content: center;
        background-color: rgb(37, 36, 36);

        border-top-left-radius: 50%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 20px;
        

        &:hover{
            .sbdiv{
                opacity: 1;
                transform: scale(1.1);
                
            }
        }


        .saibot{
            height:350px;
            width:300px;
            position: absolute;
            z-index: 100;
            top:5%;
            transition: 1s;

            
            
            

            &:hover{
               
              
                
                transform: scale(1.1);
                    
            }

            
            
        }

        .sbdiv{
            position: absolute;
            height:400px;
            width:350px;
            opacity: 0;
            transition: 1s;
            
            
            .sbtxt{
                color: rgb(35, 8, 99);
                font-size:140px;
                font-family: 'Pangolin', cursive;
                
               
            }
        }

    }
}
}