html{
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'mklatino'; 
  src: url('../FONTS/MkLatinoPlain.ttf') format('truetype');
}


.section5{
  background-image:url('../img/main2.png') ;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.374);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

    margin-top:50px;

  

height:700px;

justify-content: space-around;
align-items: center;
flex-wrap: wrap;



@media (max-width:1399px){
  height:100%;
}
.container{
 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 0 0;
  width:100%;
  




.new{
  border-radius: 50px;;
  height:100px;
  width: 100%;
  border-top: 3px solid #c1a768;
  border-bottom: 5px solid #c1a768;

  background: linear-gradient(90deg,#7a3d01 10%,#d89704 48%,#d89704 52%,#7a3d01 90%);
  display: flex;
  justify-content: center;
  align-items: center;

  .to{
    font-size:50px;
    font-family: 'mklatino'; 
    color:white;

    @media (max-width:828px){
      font-size:30px; ;
    }
  }
}
}


//
.packscont{
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-around;
  padding:20px 20px;
  flex-wrap: wrap;
  


  .pack1 {
    margin-top:40px;
    height:500px;
    width:300px;
    border: black solid;
    background-color: rgba(119, 0, 255, 0.072);

    border-radius:10px;


    

    &:not(:hover).pack1{
      .packimg{
      animation: packimgreverse  0.40s ease forwards;
     
      }
    }
    }
    

    .packdiv{
      height: 100%;
      width: 100%;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &:active{
        cursor: grab;
      }
  

      
     
      




      &:hover{

        
        .packimg{
          animation-name: packimg;
          animation-duration: 0.15s;
          


          animation-fill-mode: forwards;
              animation-play-state: paused;
              transition: transform 0.5s ease;
              animation-play-state: running;

        }
        
      }
      
      
      
      .same{
        color: rgb(255, 255, 255);
        position: absolute;
        top:46%;
        font-size: 25px;
        font-family: 'mklatino'; 
        
      }
      .same2{
        color: rgb(255, 255, 255);
        position: absolute;
        top:55%;
        font-size: 25px;
        font-family: 'mklatino'; 
      }

     .includes{
      position: absolute;
      font-size:25px;
      color: white;
      top:63%;
      font-family: 'mklatino'; 
     }
     .oneul{
      position: absolute;
      top:70%;
      width:100%;
      height:120px;
      justify-content: space-between;
      display: flex;
      
      flex-direction: column;
      align-items: center;
      .oneli{

        color: white;
        font-family: 'mklatino'; 
        font-size:20px;

      }
     }



      .packimg{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: #ffff;

        position: absolute;
        height:240px;
        width:200px;
        
        bottom: 56%;
        left: 50%;
        transform: translate(-50%, -0%);
      }
    }


  }


  //xdrnjkmhenjmkljnhbdrft
  .pack2 {
    margin-top:40px;
    height:500px;
    width:300px;
    border: rgba(255, 166, 0, 0.259) solid;
    background-color: rgba(255, 136, 0, 0.261);
    border-radius:10px;


    

    &:not(:hover).pack2{
      .packimg{
      animation: packimgreverse  0.40s ease forwards;
     
      }
    }


    //
    .packdiv{
      height: 100%;
      width: 100%;
      position: relative;
      cursor: pointer;
      &:active{
        cursor: grab;
      }
  

      

      




      &:hover{
        .packimg{
          animation-name: packimg;
          animation-duration: 0.15s;
          


          animation-fill-mode: forwards;
              animation-play-state: paused;
              transition: transform 0.5s ease;
              animation-play-state: running;

        }
        
      }
      .packimg{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: #ffff;

        position: absolute;
        height:240px;
        width:200px;
        
        bottom: 56%;
        left: 50%;
        transform: translate(-50%, -0%);
      }
    


  }
}


.pack3{
  margin-top:40px;
  height:500px;
  width:300px;
  border: black solid;
  background-color: rgba(21, 255, 0, 0.259);
  border-radius:10px;


  

  &:not(:hover).pack3{
    .packimg{
    animation: packimgreverse  0.40s ease forwards;
   
    }
  }


  //
  .packdiv{
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;

    &:active{
      cursor: grab;
    }


    

    




    &:hover{
      .packimg{
        animation-name: packimg;
        animation-duration: 0.15s;
        


        animation-fill-mode: forwards;
            animation-play-state: paused;
            transition: transform 0.5s ease;
            animation-play-state: running;

      }
      
    }
    .packimg{
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      border-color: #ffff;

      position: absolute;
      height:240px;
      width:200px;
      
      bottom: 56%;
      left: 50%;
      transform: translate(-50%, -0%);
    }
  


}

}

//sedrftnjmkl,nhbgytrdedrgyh
.pack4{
  margin-top:40px;
  height:500px;
  width:300px;
  border: black solid;
  background-color: rgba(255, 0, 0, 0.141);

  border-radius:10px;


  

  &:not(:hover).pack4{
    .packimg{
    animation: packimgreverse  0.40s ease forwards;
   
    }
  }


  //
  .packdiv{
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    &:active{
      cursor: grab;
    }


    

    




    &:hover{
      .packimg{
        animation-name: packimg;
        animation-duration: 0.15s;
        


        animation-fill-mode: forwards;
            animation-play-state: paused;
            transition: transform 0.5s ease;
            animation-play-state: running;

      }
      
    }
    .packimg{
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      border-color: #ffff;

      position: absolute;
      height:240px;
      width:200px;
      
      bottom: 56%;
      left: 50%;
      transform: translate(-50%, -0%);
    }
  


}
}



@keyframes packimg {
0%{
  bottom: 56%;
}

100%{
  bottom:60%;
  box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;   
}
}

@keyframes packimgreverse{
0%{
  bottom: 60%;
  box-shadow: rgba(255, 157, 0, 0.25) 0px 54px 55px, rgba(255, 157, 0, 0.25) 0px -12px 30px, rgba(255, 157, 0, 0.25) 0px 4px 6px, rgba(255, 157, 0, 0.25) 0px 12px 13px, rgba(255, 157, 0, 0.25) 0px -3px 5px;   

}
100%{
  bottom: 56%;
}
}
}


