body{
  background-color: black;
   background-image: url("../img/mid-bg.jpeg");
   
}




//header



header{
    background-color: rgb(0, 0, 0);
    padding: 4px 20px;
    
    .containerdiv{
        
        display: flex;
        justify-content: space-between;
        

        .logodiv{
            align-self: flex-end;
            .logo{
                height:80px;
                transition: 0.15s;
               
                
                &:hover{
                    opacity: 0.7;
                }


                @media (max-width:1189px){
                   height:50px;
                    
                }

                @media (max-width:647px){
                    height:30px;
                }
                

                
            }
        }
        .buttons{
            display: flex;
            width:800px;
            justify-content: space-between;


            @media (max-width:1189px){
                width:550px;
                 
             }

             @media (max-width:800px){
                display: none;
             }


        



            .redirect{
                .mainbuttons{
                    cursor: pointer;
                    background-color: rgba(43, 43, 43, 0.918);
                    height: 60px;
                    width:140px;
                    transform: skewX(-20deg);
                    border: none;
                    border-radius: 2px;
                    transition: 0.19s;
                   




                    @media (max-width:1189px){
                        height:50px;
                        width:100px;
                         
                     }
                   

                        //hover and actives
                        &:hover{
                            background-color:rgb(27, 27, 27) ;
                            height:83px;
                            width:143px;
                            
                        }

                        &:active{
                            background-color:rgba(31, 31, 31, 0.918);
                           
                        }
                        //end

                    .inside{
                        color: rgb(82, 82, 82);
                        transform: skewX(20deg);
                        font-size:17px;
                        font-weight:bold;

                        
                    }
                }
            }
        }



        .icons{
            display: none;
            .icon{
                display: none;
                
                


                @media (max-width:800px){
                    display: inline-block;
                    font-size: 60px;
                    transition: 0.15s;
                    color:gray;
                    cursor: pointer;
                    
                        
                            
                        
                        &:hover{
                            opacity: 0.6;
                        }

                 }
                 @media (max-width:647px){
                    font-size: 30px;
                }
            }



            @media (max-width:800px){
                display: inline-block;
             }
        }
    }
}







//section1
.section1{
    border-top: rgb(107, 72, 3) solid 5px;
    height:700px;
    
    



    @media (max-width:1337px){
        height:600px;
    }

    @media (max-width:900px){
        height:400px;
       }

       @media (max-width:1150px){
        height:500px;
       
       }
       @media (max-width:1000px){
        height:450px;
       
       }
       @media (max-width:886px){
        height: 400px;
       }


       @media (max-width:767px){
        height: 370px;
       }
       @media (max-width:721px){
        height: 340px;
       }

       @media (max-width:600px){
        height: 300px;
       }

       @media (max-width:540px){
        height: 220px;
       }
       @media (max-width:465px){
        height: 200px;
       }
       @media (max-width:384px){
        height: 170px;
       }
       @media (max-width:290px){
        height: 120px;
       }

    .secdiv{
        height:540px;
        position: relative;

        .videoo{
            width:100%;
            position: absolute;
            border-bottom: rgb(107, 72, 3) solid 6px;

        }

        .plus{
            position: absolute;
            top:1px;
            height:100%;
            width:500px;
            @media (max-width:500px){
                width:100%;
            }
            @media (max-width:567px){
                width: 100%;
            }
            .box{
                position: relative;
                height:100%;
                

                
                
                @media (max-width:567px){
                    height:260px;


                    
                }
            
                .videotext{
                    position: absolute;
                    top:40%;
                    left:7%;
                    font-size:50px;
                    color:rgb(207, 172, 12);
                    font-family: 'Kanit', sans-serif;
                    font-weight:700;



                    @media (max-width:1271px){
                        font-size:40px;
                        top:30%;
                        

                    }

                    @media (max-width:933px){
                        font-size:30px;
                        top:21%;
                    }
                    @media (max-width:639px){
                        font-size:24px;
                        top:10%;
                    }
                    @media (max-width:567px){
                        top:10%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }
                    
                    
                    @media (max-width:384px){
                        font-size:17px;
                    }
                    
                    
                }
                .text2{
                    position: absolute;
                    top:52%;
                    left:7%;
                    font-size:24px;
                    color:rgb(207, 172, 12);
                    font-family: 'Kanit', sans-serif;
                    font-weight:700;


                    @media (max-width:1271px){
                        font-size:26px;
                        top:40%;
                        

                    }

                    @media (max-width:933px){
                        font-size:20px;
                        top:30%;
                    }


                    @media (max-width:639px){
                        font-size:18px;
                        top:20%;
                    }


                    @media (max-width:567px){
                        display: none;
                    }


                }
                .text3{
                    position: absolute;
                    top:90%;
                    left:10%;
                    color: rgb(207, 172, 12);
                    font-family: 'Kanit', sans-serif;
                    font-weight:700;
                    cursor: pointer;
                    transition: 0.30s;
                    &:hover{
                        opacity: 0.6;
                    }
                    


                    @media (max-width:1271px){
                        font-size:26px;
                        top:60%;
                        

                    }

                    @media (max-width:933px){
                        font-size:18px;
                        top:40%;
                    }
                    
                    @media (max-width:639px){
                        font-size:14px;
                        top:30%;
                    }
                    


                    @media (max-width:567px){
                        top:70%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }


                    @media (max-width:567px){
                        top:40%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }

                    @media (max-width:322px){
                        top:30%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }

                }
            }
        }
    }
}






.s-2{
    margin-top:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
    

   


    @media (max-width:1893px){
        margin-top:100px;
    }

   @media (max-width:1735px){
    margin-top:70px;
   }
   @media (max-width:1366px){
    margin-top:20px;
   }


   
   @media (max-width:320px){
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:340px;
   }



    .div1{
        padding: 10px;
        background-color: rgb(49, 47, 45);
        border: rgb(107, 72, 3) solid 5px;
        height:350px;
        width:620px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 900;
        
     
     
        
        @media (max-width:1250px){
            height:400px;
            max-width:700px;
            width: 40%;
           }

        

          


           @media (max-width:600px){
            height: 150px;
           }

           @media (max-width:320px){
            width:60%;
           }

          
     
     
     
     
        .p1{
        color: rgb(255, 255, 255);
        
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: 'Pangolin', cursive;


        @media (max-width:1250px){
            font-size: 19px;;
            
        }
        @media (max-width:600px){
            font-size:10px;
           }
       
        
     }
     .game{
        font-size:60px;
        color: rgb(255, 255, 255);
        font-family: 'Pangolin', cursive;

        @media (max-width:1250px){
            font-size: 30px;;
            
        }
        @media (max-width:600px){
            font-size:17px;
           }
         @media (max-width:434px){
            font-size: 13px;
           }

           @media (max-width:300px){
            font-size:10px;
           }


     }
     .lorem{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        font-family: 'Kanit', sans-serif;
        @media (max-width:600px){
            font-size:14px ;
           }
           @media (max-width:600px){
            font-size:10px;
           }

           @media (max-width:434px){
            font-size: 8px;
           }

           @media (max-width:300px){
            font-size:7px;
           }
     }
     .learn{
        height:50px;
        width:120px;
        background-color: #70C174;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size:17px;
        cursor: pointer;
        font-family: 'Kanit', sans-serif;

        @media (max-width:600px){
            height:35px;
            width:88px;
            font-size: 14px;
           }
        @media (max-width:434px){
            height: 20px;
            width:60px;
            font-size: 7px;
           }
     }


     
    }
    .div2{
        border: rgb(107, 72, 3) solid 6px;
       
        border-top-left-radius: 50%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 50%;
       
        border-bottom-left-radius: 20px;
        padding: 10px;
        background-color: rgb(37, 36, 36);
        position: relative;

        
           @media (max-width:1250px){
            height:400px;
            width: 300px;
           }
           @media (max-width:600px){
            height: 150px;
            width:150px;
           }

        &:hover{
            .name{
                opacity: 1;
                top: 10%;
            }
        }
    

        

           



        .name{
            font-size: 100px;
            
            
            position: absolute;
            
            font-family: 'Pangolin', cursive;
            color: rgb(255, 179, 1);
            top:8%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: 1s;
            @media (max-width:928px){
               font-size: 50px;
               }


            @media (max-width:500px){
              font-size: 60px;
               
               }
               @media (max-width:475px){
                font-size: 30px;

            }





            

        }


        .imgdiv{
            height:600px;
            width:500px;
            


           
               @media (max-width:1250px){
                height:400px;
                width: 300px;
               }
               @media (max-width:600px){
                height: 150px;
                width:150px;
               }

               
               


              
               
            .skorpion{
            
                height:540px;
                transition: 0.30s;
                position: absolute;
                left: 0.2%;
                top:0%;

                animation-fill-mode: forwards;
                animation-play-state: paused;
                transition: transform 0.5s ease;
               


                
                
                
                &:hover{
                    
                    animation-name: toptobottom;
                    animation-duration: 1s;
                    animation-play-state: running;
                    transform: scale(1.1);
                    transition: 1s;


                    
                }


                &:not(:hover).skorpion {
                    animation: bottomtotop 0.90s ease forwards; 
                    transition: 1s;
                  }



                @keyframes toptobottom {
                    0%{
                        top:0%;
                    }
                    100%{
                        top:13%;
                    }
                }


                @keyframes bottomtotop {
                    0%{
                        top:13%;

                    }
                    100%{
                        top:0%;
                    }
                }


                @media (max-width:1250px){
                    height:330px;
                    width: 300px;
                   }


                   @media (max-width:600px){
                    height: 120px;
                    width:130px;
                   }
                   
                   
                
                   
                   
            }
        }
    }




}


.section3{
    border-top: rgb(107, 72, 3) solid 5px;
    border-bottom: rgb(107, 72, 3) solid 5px;
    width:100%;
    height:210px;
    background-color: rgb(59, 59, 59);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    background: linear-gradient(50deg, blue, red);


    @media (max-width:485px){
        height:150px;
    }


    .develop{
        font-size: 28px;
        font-family: 'Pangolin', cursive;
        color: yellow;
        font-weight: bold;
        @media (max-width:485px){
            font-size: 20px;
        }
        @media (max-width:385px){
            font-size: 15px;
        }
    }

    .nether{    
       
        width:150px;
        @media (max-width:485px){
            width: 100px;
        }

    }
}
