//header
header{
    display: flex;
    justify-content: space-between;
    padding:5px 30px;
    .logo{
        height:80px;
    }
    .buttonsdiv{
        width:780px;
        display: flex;
        justify-content: space-between;
        .mainbuttons{
            height: 80px;
            width:140px;
            border: none;
            border-radius: 2px;
            background-color: rgb(46, 46, 46);
            transform: skewX(20deg);
            .innera{
                display: inline-block;
                transform: skewX(-20deg);
                color: rgb(85, 85, 85);
                font-size:17px;
                font-family: 'Kanit', sans-serif;
            }
        
        }
    }
}